<ion-header>
  <ion-toolbar>
    <ion-title>Incidentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- REFRESH INCIDENTES -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh(); $event.target.complete()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- LISTA DE INCIDENTES -->
  <ion-list lines="inset">
    <ion-item button *ngFor="let i of incidentes" (click)="ver(i.id)">
      <ion-label>
        <h2>{{ i.tipo }} – {{ i.equipo }}</h2>
        <p>{{ i.descripcion }}</p>

        <ion-chip 
          [color]="i.prioridad==='Alta' ? 'danger' :
                   (i.prioridad==='Media' ? 'warning' : 'medium')">
          <ion-label>{{ i.prioridad }}</ion-label>
        </ion-chip>

        <ion-chip [color]="i.estado==='Cerrado' ? 'success' : 'tertiary'">
          <ion-label>{{ i.estado }}</ion-label>
        </ion-chip>
      </ion-label>

      <ion-note slot="end">
        {{ i.fecha | date:'short' }}
      </ion-note>
    </ion-item>
  </ion-list>


  <!-- SECCIÓN DE POSTS DESDE API -->
  <ion-list lines="none" class="api-section">

    <ion-item>
      <ion-label>
        <h2 style="font-weight: 600;">Posts desde API</h2>
        <p style="font-size: 13px;">Datos obtenidos en tiempo real desde jsonplaceholder.typicode.com</p>
      </ion-label>
    </ion-item>

    <ion-item *ngFor="let p of posts">
      <ion-label>
        <h3 style="font-weight: 600; font-size: 15px;">{{ p.title }}</h3>
        <p style="font-size: 13px; opacity: 0.8;">{{ p.body }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
